body {
    width:100%;
    /* overflow: hidden; */
    margin:0;
    background: url("../images/background.jpg");
    background-size: cover;
}

a {
    color: #444;
}

.image {
    position: absolute;
    object-fit: cover;
    width:  70%;
    z-index: 100;
}

.map {
    width:70%; display: inline-block; height: 100%;
}

.regions {
    position: absolute; right: 0px;width:30%;display: inline-block;
}

.region-name {
    font-size: large;
    font-weight: bold;
}

.darker {
    filter: brightness(50%);
    z-index: 1;
}

.clipped {
    background: transparent;
}

.flag-container{
    margin-top: 10px;
    position: absolute;
    right: 10px;
    z-index: 100;
}

.flag {
 width: 30px;
 height: 23px;
}

.search-field {
    margin-left: 10px;
}

/* Types of settlements */
.fortification {
    width: 30px;
}

.town {
    width: 10px;
}

.city {
    width: 20px;
}

.stronghold {
    width: 20px;
}