body {
    width:100%;
    /* overflow: hidden; */
    margin:0;
    background: url("../images/background.jpg");
    background-size: cover;
}

a {
    color: #444;
}

.image {
    position: absolute;
    object-fit: cover;
    width:  70%;
    z-index: 100;
    margin-left: 50px;
}

.map {
    width:75%;
    display: inline-block; 
    height: 100%;
}

.regions {
    position: absolute; 
    right: 0px;
    width:25%;
    display: inline-block;
    height: 100%;
}

.region-name {
    font-size: large;
    font-weight: bold;
}

.darker {
    filter: brightness(50%);
    z-index: 1;
}

.clipped {
    background: transparent;
}

.reset {
    font-weight: bold;
    font-size: 15pt;
}

.flag-container{
    margin-top: 10px;
    position: absolute;
    right: 10px;
    z-index: 100;
}

.flag {
 width: 30px;
 height: 23px;
}

.search-field {
    margin-left: 10px;
}

.regions-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90%;;
}

/* Types of settlements */
.fortification {
    width: 30px;
}

.town {
    width: 10px;
}

.city {
    width: 20px;
}

.stronghold {
    width: 20px;
}

.help-popup {
    padding: 0 5px;
    left: 100px;
    width: 350px;
    height: 250px;
    position: absolute;
    border:1px solid #000;
    background-color: #bbb;
    z-index: 10000;
}

.help-image {
    width: 32px;
    height: 32px;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTguMS4xLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDE4IDE4IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxOCAxODsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjMycHgiPgo8Zz4KCTxnPgoJCTxwYXRoIGQ9Ik05LDBDNC4wMjcsMCwwLDQuMDI3LDAsOWMwLDQuOTcxLDQuMDI3LDguOTk4LDksOWM0Ljk3MS0wLjAwMiw4Ljk5OC00LjAyOSw5LTkgICAgQzE3Ljk5OCw0LjAyNywxMy45NzEsMCw5LDB6IE05LDE1Ljg4M0M1LjE5OSwxNS44NzQsMi4xMjQsMTIuNzk5LDIuMTE1LDlDMi4xMjQsNS4xOTksNS4xOTksMi4xMjQsOSwyLjExNiAgICBDMTIuNzk5LDIuMTI0LDE1Ljg3NCw1LjE5OSwxNS44ODMsOUMxNS44NzQsMTIuNzk5LDEyLjc5OSwxNS44NzQsOSwxNS44ODN6IiBmaWxsPSIjMDAwMDAwIi8+CgkJPHJlY3QgeD0iOCIgeT0iOCIgd2lkdGg9IjIiIGhlaWdodD0iNiIgZmlsbD0iIzAwMDAwMCIvPgoJCTxyZWN0IHg9IjgiIHk9IjQiIHdpZHRoPSIyIiBoZWlnaHQ9IjIiIGZpbGw9IiMwMDAwMDAiLz4KCTwvZz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K)
}

#cookieBanner {
    position: absolute;
    left: 25%;
    display: none;
    font-size: 14px;
    width: 50%;
    margin: 0px auto;
    padding: 12px;
    background-color: #ddd;
    border-bottom: solid 1px #ccc;
    z-index: 100000;
}
#cookieBannerClose {
    float: right;
    font-weight: bold;
    padding: 4px;
}
#cookieBannerActions {
    text-align: center;
    padding-top: 4px;
}